<form action="/login" method="POST">
  <dl>
    <dt>
      <label for="username">Username:</label>
    </dt>
    <dd>
      <input name="username" placeholder="Username" type="text" value="">
    </dd>
  </dl>

  <dl>
    <dt>
      <label for="password">Password:</label>
    </dt>
    <dd>
      <input name="password" placeholder="Password123" type="text" value="">
    </dd>
  </dl>

  <button type="submit">Login</button>
</form>

<a href="/">← Go Back</a>